{% extends 'base.html' %}

{% block content %}
    <h3>API Status Dashboard</h3>

    <p><b>Only partially implemented.</b></p>

    Number of Tutors Connected: {{tutor_count}}<br/>
    Number of Plugins Connected: {{plugin_count}}<br/>

    <h4>Event Throughput (last 24 hours)</h4>
    <table>
        <tr>
            <td><b>Event Type</b></td>
            <td><b>Every Second</b></td>
            <td><b>Every Minute</b></td>
            <td><b>Every Hour</b></td>
        </tr>
        {% for ev in events %}
            <tr>
                <td><b>{{ev.0}}</b></td>
                <td>{{(ev.1 / 86400)|round(2)}}</td>
                <td>{{(ev.1 / 1440)|round(2)}}</td>
                <td>{{(ev.1 / 24)|round(2)}}</td>
            </tr>
        {% endfor %}
    </table>

    <h4>Connected Tutors</h4>
    <table>
        <tr>
            <td><b>User Name</b></td>
            <td><b>Tutor Name</b></td>
            <td><b>Tutor ID</b></td>
        </tr>
        {% for tutor in tutors %}
            <tr>
                <td>{{tutor.user.username}}</td>
                <td>{{tutor.name}}</td>
                <td>{{tutor.entity_id}}</td>
            </tr> 
        {% endfor %}
    </table>

    <h4>Connected Plugins</h4>
    <table>
        <tr>
            <td><b>User Name</b></td>
            <td><b>Plugin Name</b></td>
            <td><b>Plugin ID</b></td>
        </tr>
        {% for plugin in plugins %}
            <tr>
                <td>{{plugin.user.username}}</td>
                <td>{{plugin.name}}</td>
                <td>{{plugin.entity_id}}</td>
            </tr> 
        {% endfor %}
    </table>
{% endblock %}