Number of Tutors Connected: {{tutor_count}}<br/>
Number of Plugins Connected: {{plugin_count}}<br/>

<h4>Event Throughput</h4>
<table>
    <tr>
        <th>&nbsp;</th>
        <th>Last Second</th>
        <th>Last Minute</th>
        <th>Last Hour</th>
        <th>Last 24 Hours</th>
    </tr>
    <tr>
        <th>Messages Created</th>
        <td>{{messages_created.0}}</td>
        <td>{{messages_created.1}}</td>
        <td>{{messages_created.2}}</td>
        <td>{{messages_created.3}}</td>
    </tr>
    <tr>
        <th>Messages Received</th>
        <td>{{messages_received.0}}</td>
        <td>{{messages_received.1}}</td>
        <td>{{messages_received.2}}</td>
        <td>{{messages_received.3}}</td>
    </tr>
    <tr>
        <th>Responses Created</th>
        <td>{{responses_created.0}}</td>
        <td>{{responses_created.1}}</td>
        <td>{{responses_created.2}}</td>
        <td>{{responses_created.3}}</td>
    </tr>
    <tr>
        <th>Responses Received</th>
        <td>{{responses_received.0}}</td>
        <td>{{responses_received.1}}</td>
        <td>{{responses_received.2}}</td>
        <td>{{responses_received.3}}</td>
    </tr>
</table>

<h4>Connected Tutors</h4>
<table>
    <tr>
        <th>User Name</th>
        <th>Tutor Name</th>
        <th>Tutor ID</th>
    </tr>
    {% for tutor in tutors %}
        <tr>
            <td>{{tutor.user.username}}</td>
            <td>{{tutor.name}}</td>
            <td>{{tutor.entity_id}}</td>
        </tr> 
    {% endfor %}
</table>

<h4>Connected Plugins</h4>
<table>
    <tr>
        <th>User Name</th>
        <th>Plugin Name</th>
        <th>Plugin ID</th>
    </tr>
    {% for plugin in plugins %}
        <tr>
            <td>{{plugin.user.username}}</td>
            <td>{{plugin.name}}</td>
            <td>{{plugin.entity_id}}</td>
        </tr> 
    {% endfor %}
</table>
