<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="/tutor/{{tutor.id}}/detail">
                {{ tutor.name|title }}
            </a>

            {% if tutor.connected %}
                <span style="color:green">(Online)</span>
            {% else %}
                <span style="color:red">(Offline)</span>
            {% endif %}
        </h3>
    </div>
    
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <b>Entity ID</b>
            </div>
            <div class="col-md-8">
                {{ tutor.entity_id }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <b>Description</b>
            </div>
            <div class="col-md-8">
                {{ tutor.description }}
            </div>
        </div>

        <div class="row">
            <div class="spacer"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary" href="/tutor/{{tutor.id}}/edit">Edit</a>
                <a class="btn btn-info" href="/tutor/{{tutor.id}}/log/clear">Clear Logs</a>
                <a class="btn btn-info" href="/tutor/{{tutor.id}}/genkey">Generate API Key</a>
                <a class="btn btn-danger" href="/tutor/{{tutor.id}}/delete">Delete</a>
            </div>
        </div>
    </div>
</div>
