{% extends 'base.html' %}

{% block content %}
<h1>Detailed Report</h1>

<div class="row"><div class="spacer"></div></div>

{% if error %}
    <span style="color:red">Error: {{error}}</span>
{% endif %}
    
<h4>Time</h4>
<form role="form" method="POST" action="/detailed-report">
    <span style="font-weight:bold">Time format: YYYYMMDD</span><br>
    <span style="font-weight:bold">Start time: </span><input type="text" name="start_time" id="start_time"/>
    <span style="font-weight:bold">End time: </span><input type="text" name="end_time" id="end_time" />
    <input type="submit" onClick="document.getElementById('loading').style.display='block'" />
</form>

<img src="{{ url_for('static', filename='ajax-loader.gif') }}" style="display:none" id="loading"/>

{% endblock %}





