{% extends 'base.html' %}


{% block additional_head %}
<script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart','table']
            }]
          }"></script>

<script type="text/javascript">
    //google.setOnLoadCallback(drawChart);

    function drawChart(data) {
    
        var data_table_array = [
            ["Hour", "Messages Handeled", "Average Response Time"],
        ]
        for(xx =0; xx<data.rows.length; xx++){
            data_table_array.push([
                data.rows[xx][0],
                data.rows[xx][1],
                data.rows[xx][3],
            ])
        }
        
        var data = google.visualization.arrayToDataTable(data_table_array)
        
        var classicOptions = {
            title: 'HPIT Usage Graph',
            // Gives each series an axis that matches the vAxes number below.
            series: {
              0: {targetAxisIndex: 0},
              1: {targetAxisIndex: 1}
            },
            vAxes: {
              // Adds titles to each axis.
              0: {title: 'Number of Messages'},
              1: {title: 'Seconds'}
            },

        };
        
        var chart = new google.visualization.LineChart(document.getElementById('line_chart'));
        
        chart.draw(data, classicOptions);
    }
    
    function peakTimeChart(data){
        var data_table_array = [["Time","Responses","Responses per Minute","Average Response Time"]];
        for(xx=0;xx<data.peak_times.length;xx++){
            data_table_array.push(data.peak_times[xx]);
        }
        
        var data = google.visualization.arrayToDataTable(data_table_array)
        
        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true});
    }
    
    function fetchData(){       
        
        start_time = document.getElementById("start_time").value
        end_time = document.getElementById("end_time").value
        
        req = new XMLHttpRequest();
        req.onreadystatechange = function(){
            console.log(req.readyState,req.status);
            if (req.readyState == 1){
                document.getElementById("loading").style.display = "block";
                document.getElementById("data-body").style.display = "none";
            }
            else if (req.readyState == 4 && req.status == 200){
                data = JSON.parse(req.responseText);
                document.getElementById("loading").style.display = "none";
                document.getElementById("data-body").style.display = "block";
                document.getElementById("raw_json").innerHTML="<pre>"+req.responseText+"</pre>";
                document.getElementById("report_time").innerHTML="Report generated in " + data.report_time + " minutes.";
                drawChart(data);
                peakTimeChart(data);
                
            }
            else if (req.status == 404){
                document.getElementById("line_chart").innerHTML="ERROR";
            }
        }
        console.log("posting");
        req.open("POST","/detailed-report",true);
        req.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        req.send("start_time="+start_time+"&end_time="+end_time);
        
    }
</script>

{% endblock %}


{% block content %}
<h1>Detailed Report</h1>

<div class="row"><div class="spacer"></div></div>

{% if error %}
    <span style="color:red">Error: {{error}}</span>
{% endif %}
    
<h4>Time</h4>
<form role="form">
    <span style="font-weight:bold">Time format: YYYYMMDD</span><br>
    <span style="font-weight:bold">Start time: </span><input type="text" name="start_time" id="start_time"/>
    <span style="font-weight:bold">End time: </span><input type="text" name="end_time" id="end_time" />
    <input type="submit" onClick="fetchData();return false;" />
</form>

<img src="{{ url_for('static', filename='ajax-loader.gif') }}" style="display:none" id="loading"/>

<div id="data-body" style="display:none">
    <h4 class="heading">Usage Chart</h4>
    <div id="line_chart" style="width: 100%; height: 500px;"></div>
    <h4 class="heading">Peak Time Table</h4>
    <div id="table_div" style="width: 100%;"></div>
    <h4 class="heading">Raw JSON</h4>
    <div id="raw_json"></div>
    <p id="report_time"></p>
</div>




{% endblock %}
