{% extends 'base.html' %}

{% block content %}
    <h3>API Status Dashboard</h3>

    <p><b>Only partially implemented.</b></p>

    Number of Tutors Connected: {{tutor_count}}<br/>
    Number of Plugins Connected: {{plugin_count}}<br/>

    <h4>Event Throughput</h4>
    <table>
        <tr>
            <td><b>Event Type</b></td>
            <td><b>Last Minute</b></td>
            <td><b>Last Hour</b></td>
            <td><b>Last 24 Hours</b></td>
        </tr>
        <tr>
            <td><b>Messages</b></td>
            <td>{{events.last_minute.0}}</td>
            <td>{{events.last_hour.0}}</td>
            <td>{{events.last_day.0}}</td>
        </tr>

        <tr>
            <td><b>Responses</b></td>
            <td>{{events.last_minute.1}}</td>
            <td>{{events.last_hour.1}}</td>
            <td>{{events.last_day.1}}</td>
        </tr>
    </table>

    <h4>Connected Tutors</h4>
    <table>
        <tr>
            <td><b>User Name</b></td>
            <td><b>Tutor Name</b></td>
            <td><b>Tutor ID</b></td>
        </tr>
        {% for tutor in tutors %}
            <tr>
                <td>{{tutor.user.username}}</td>
                <td>{{tutor.name}}</td>
                <td>{{tutor.entity_id}}</td>
            </tr> 
        {% endfor %}
    </table>

    <h4>Connected Plugins</h4>
    <table>
        <tr>
            <td><b>User Name</b></td>
            <td><b>Plugin Name</b></td>
            <td><b>Plugin ID</b></td>
        </tr>
        {% for plugin in plugins %}
            <tr>
                <td>{{plugin.user.username}}</td>
                <td>{{plugin.name}}</td>
                <td>{{plugin.entity_id}}</td>
            </tr> 
        {% endfor %}
    </table>
{% endblock %}