{% extends 'base.html' %}

{% block content %}
<h1>Message Tracker</h1>

<div class="row"><div class="spacer"></div></div>


<form action="/message-tracker" method="POST" role="form">
    <span style="font-weight:bold">Message ID: </span>
    <input type="text" value="{{message_id}}" name="message_id"/>
    <input type="submit" value="Refresh" />
</form>

{% if error %}
    <span style="color:red">Error: {{error}}</span>
{% else %}

    <h4>Message Times</h4>
    
    {% for m in message_times %}
        <p>{{m.message_name}} - {{m.message_id}}</p>
        <table>
        <tr>
            <th>Event</th>
            <th>Time</th>
            <th>Plugin</th>
            <th>DT</th>
        </tr>
        <tr>
            <td>HPIT Received Message</td>
            <td>{{m.hpit_received}}</td>
            <td>--</td>
            <td>--</td>
        </tr>
        {% for pc in m.plugin_communications %}
            <tr>
                <td>Plugin Received Message</td>
                <td>{{pc.plugin_received}}</td>
                <td>{{pc.plugin_id}}</td>
                <td>{{pc.plugin_received_dt}}</td>
            </tr>
            <tr>
                <td>Plugin Responded</td>
                <td>{{pc.plugin_responded}}</td>
                <td>{{pc.plugin_id}}</td>
                <td>{{pc.plugin_responded_dt}}</td>
            </tr>
            <tr>
                <td>Response Received</td>
                <td>{{pc.response_received}}</td>
                <td>{{pc.plugin_id}}</td>
                <td>{{pc.response_received_dt}}</td>
            </tr>
            <tr>
                <td><b>Total Time</b></td>
                <td>--</td>
                <td>{{pc.plugin_id}}</td>
                <td>{{pc.total_time}}</td>
            
            </tr>
        {% endfor %}   
    </table>
    
    {% endfor %}
    

{% endif %}

{% endblock %}
